<footer>
  <div class="signup col-md-6 text-left">
    <div id="mc_embed_signup">
      <form action="//champagne.us6.list-manage.com/subscribe/post?u=33fd2ef8af04dbcb9018f491a&amp;id=9d51bbfa44"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank">
        <div id="mc_embed_signup_scroll">
        	<h4>Sign up to our newsletter</h4>
          <div class="form-group">
          	<input type="email" value="" placeholder="Email address" name="EMAIL" class="required email form-control input-sm" id="mce-EMAIL" required="true">
          </div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-sm">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_33fd2ef8af04dbcb9018f491a_9d51bbfa44" tabindex="-1" value=""></div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-6 text-right contact-details">
    <div>14 Commercial Arcade &nbsp;&bullet;&nbsp; St Peter Port</div>
    <div>
      <a href="tel:01481740603">01481 740603</a> &nbsp;&bullet;&nbsp;
      <a href="mailto:info@champagne.gg">info@champagne.gg</a> &nbsp;&bullet;&nbsp;
      <a href="http://www.facebook.com/champagnegsy" title="Facebook"><img src="/images/facebook.png"></a>
      <a href="http://www.twitter.com/champagnegsy" title="Twitter"><img src="/images/twitter.png"></a>
    </div>
  </div>

  <div class="col-md-12 text-center visible-md visible-lg">
    <img src="/images/emblem.png" class="emblem">
  </div>
</footer>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
