<footer>
  <div class="contact-details col-md-6 text-left">
    14 Commercial Arcade &nbsp;&bullet;&nbsp; St Peter Port
  </div>

  <div class="col-md-6 text-right contact-details">
    T:&nbsp;<a href="tel:01481740603">01481 740603</a> &nbsp;&bullet;&nbsp;
    E:&nbsp;<a href="mailto:info@champagne.gg">info@champagne.gg</a> &nbsp;&bullet;&nbsp;
    <a href="http://www.facebook.com/champagnegsy" title="Facebook"><img src="/images/facebook.png"></a>
    <a href="http://www.twitter.com/champagnegsy" title="Twitter"><img src="/images/twitter.png"></a>
  </div>

  <div class="col-md-12 text-center visible-md visible-lg">
    <img src="/images/emblem.png" class="emblem">
  </div>
</footer>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
