body {
  background: url(/images/homepage-bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  background-color: $brand-primary;
  color: white;
  -webkit-font-smoothing: antialiased;
  padding-top: $padding-base-vertical;
  padding-bottom: $padding-base-vertical;
  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;
  margin-bottom: $line-height-computed;
  position: relative;

  &:before, &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -$grid-gutter-width / 2;
    z-index: -10;
    border-bottom: $grid-gutter-width / 2 solid darken($brand-primary, 10%) ;
  }

  &:before {
    border-left: $grid-gutter-width / 2 solid transparent;
  }

  &:after {
    right: 0;
    border-right: $grid-gutter-width / 2 solid transparent;
  }
}

p {
  font-size: $font-size-large;
}

img.signature {
  @extend .pull-right;
  margin-top: $padding-large-vertical;
  margin-right: $padding-large-horizontal;
}

#splash {
  .content {
    background-color: rgba(222, 213, 183, 0.75);
    background-image: url(/images/texture-top.png);
    background-repeat: repeat-x;
    padding: $padding-large-vertical * 8 $padding-large-horizontal;
  }

  .logo {
    margin: 0 auto;
  }
}

header {
  nav {
    @extend .navbar;
    @extend .navbar-default;
    @extend .navbar-fixed-top;

    font-family: $headings-font-family;
    border-bottom: none;
    -webkit-font-smoothing: antialiased;
    font-size: $font-size-large;

    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;

      > li > a {
        margin-left: $padding-base-horizontal;
        margin-right: $padding-base-horizontal;
      }
    }

    .navbar-collapse {
      text-align: center;
    }
  }
}

footer {
  .contact-details {
    background-color: $navbar-default-bg;
    padding: $padding-base-vertical $padding-base-horizontal;
  }

  .emblem {
    margin-top: -84px;
  }

  a {
    color: #fff;
  }

  color: $navbar-default-color;
  font-family: $headings-font-family;
  font-size: $font-size-large;
  -webkit-font-smoothing: antialiased;
}
