<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="{{ page.class }}">

    {% include header.html %}

    <div class="container-fluid">
      <section class="section-vh row">
        <div class="container">
            <div class="row">
              <div class="col-md-12 content">
                <div class="text-center">
                  <img src="/images/logo.png" class="logo" alt="La Maison de Champagne">
                </div>

                <h1>{{ page.title }}</h1>
                {{ content }}
              </div>
            </div>
            <div class="row">
              {% include footer.html %}
            </div>
          </div>
      </section>
    </div>

  </body>

</html>
